.alg-button {
    display: inline-flex;
    padding: 1em 1.5em;
    border: 2px solid var(--btn-border);
    border-radius: 2px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;

    color: var(--btn-color);

    background-color: var(--btn-bg);

    --btn-bg: transparent;
    --btn-border: var(--color-primary);
    --btn-color: var(--color-primary);

    transition: 0.125s ease-in-out opacity;
}

.alg-button.alg-button-sec {
    --btn-bg: transparent;
    --btn-color: var(--color-secondary);
    --btn-border: var(--color-secondary);
}

.alg-button:hover {
    opacity: 0.8;
}

.alg-button.alg-button-high {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.alg-more-button::after {
    content: "›";
    font-size: 1.5em;
    line-height: 0.5;
    margin-left: 0.25em;
    margin-top: -0.05em;
    transition: 0.125s ease-in-out transform;
}

.alg-more-button:hover::after {
    transform: translateX(0.125em);
}