.alg-footer-wrapper {
    background-color: var(--color-primary);
}

.alg-footer-widget:nth-child(1) {
    margin-bottom: 2.5rem;
}

.alg-footer-widget:nth-child(2) {
    margin-bottom: -1.75em;
}

footer .alg-logo {
    height: 3rem;
    width: auto;
}

footer .alg-bottom-bar {
    background-color: var(--color-secondary);
    height: 1rem
}

/* Mobile Styles */

@media (max-width: 780px) {
   footer .wp-block-columns p.has-text-align-center {
       text-align: start;
   }

   footer .wp-block-social-links, footer .alg-footer-inner.justify-end {
       justify-content: flex-start;
   }

   .alg-footer-widget:nth-child(2) .wp-block-columns {
        gap: 0.5rem;
   }
}