.alg-intro-wrapper {
    margin-top: -3rem;
    position: relative;
    z-index: 1;
}

.alg-intro-wrapper .alg-2col {
    flex-wrap: nowrap;
    gap: 0;
}

.alg-2col .alg-intro-box {
    height: fit-content;
    transition: 0.25s ease-in-out transform, 0.25s ease-in-out opacity;
    background-color: var(--color-snow);
    margin-right: -2rem;
    padding: 2.5rem;
    --box-title-color: var(--color-primary);
}

.alg-2col .alg-intro-box.inViewport {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.alg-2col .alg-intro-box h1 {
    color: var(--box-title-color);
}