.alg-intro-wrapper {
    margin-top: -3rem;
    position: relative;
    z-index: 1;
}

.alg-intro-wrapper .alg-2col {
    flex-wrap: nowrap;
    gap: 0;
}

.alg-2col .alg-intro-box {
    width: calc(50% + 2rem);
    height: fit-content;
    transition: 0.25s ease-in-out transform, 0.25s ease-in-out opacity;
}
.alg-2col .alg-intro-box.alg-intro-box-first {
    background-color: var(--color-snow);
    margin-right: -2rem;
    padding: 2.5rem;
    padding-right: 6.5rem;
    --box-title-color: var(--color-primary);
}

.alg-2col .alg-intro-box.inViewport {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.alg-2col .alg-intro-box.alg-intro-box-second {
    background-color: var(--color-grey);
    margin-left: -2rem;
    margin-top: 5rem;
    padding: 2.5rem;
    padding-left: 4rem;
    --box-title-color: var(--color-secondary);
}

.alg-2col .alg-intro-box h1 {
    color: var(--box-title-color);
}