.alg-navbar-wrapper {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: translateY(0);
    opacity: 1;
    transition: 0.25s ease-in-out transform, 0.25s ease-in-out opacity;
}

.alg-navbar-wrapper.alg-navbar-hide {
    transform: translateY(-100%);
    opacity: 0;
}

.alg-navbar .alg-logo-color {
    fill: var(--color-primary);
    width: auto;
}

.alg-navbar svg.alg-logo {
    height: 3rem;
    width: auto;
}

// Main Menu Items

.alg-menu-main .alg-menu-item {
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: 0.125s ease-in-out border-bottom, 0.125s ease-in-out color;
}

.alg-menu-main .alg-menu-item:hover {
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.alg-menu-main .alg-menu-item.alg-menu-item-current {
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}