:root {
    --color-primary: #84B414;
    --color-secondary: #E10078;
    --color-snow: #f4f4f4;
    --color-grey: #E2E2E2;
    --color-dark: #545454;

    --dropshadow: drop-shadow(0px 0.25rem 0.75rem rgba(0, 0, 0, 0.125));
    --dropshadowParam: (0px 0.25rem 0.75rem rgba(0, 0, 0, 0.125));
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}